<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>CFBundleVersion</key>
    <string>1.1.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>Pure Freecell</string>
    <key>CFBundleName</key>
    <string>PureFreecell</string>
    <key>CFBundleExecutable</key>
    <string>PureFreecell</string>
    <key>CFBundleIconFile</key>
    <string>PureFreecell.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.galvanizedlogic.purefreecell</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.arcade-games</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2025, Galvanized Logic Inc.</string>
</dict>
</plist>
