*{
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #aaaa00;
    line-height:1.2;
}
.header{
    min-height: 90vh;
    background: url(purefreecell.png);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}
.header__title{
    height: 80vh;
    font-size: 24px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.header h1 {
    padding: 10px;
    font-size: 64px;
}
.header p {
    max-width: 80%;
    text-align: center;
}

.privacy {
    color: #000000;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/*******************************************************************************
 * Bottom navigation bar for each page.
 */
.footer {
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    font-size: 12px;
    padding: 15px;
    padding-left: 30px;
}
.footer__items {
    float: right;
    text-align: right;
    line-height: 30px;
}
.footer__item {
    color: #c9c9c9;
    text-decoration: none;
}
.footer__item:hover {
    color: #db6d16;
}
.footer__img {
    float: right;
    padding-right: 50px;
    padding-left: 8px;
    padding-bottom: 20px;
}
.footer__contact {
    line-height: 5px;
    float: left;
    color: #666666;
}
.footer__email {
    text-decoration: none;
    color: #666666;
}
.footer__email:hover {
    color: #db6d16;
}

